@import "tailwindcss";
@source "../views";

@font-face {
    font-family:"vt323";
    src: url("../fonts/VT323-Regular.ttf") format("truetype");
  }

body {
    background-color: black;
    /* background-image: radial-gradient(
      rgba(255, 176, 0, 0.3), black 70%
    ); */
    background-blend-mode: lighten;
    height: 100vh;
    /* color: rgba(255, 150, 0); */
    color: rgb(235, 138, 3);
    font-family: vt323;
}

input {
    all: unset;
}

.blinking {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.medium-link:hover {
  text-decoration: underline;
}